/* General styles */

body {
	font: 13px/18px "Roboto", Arial, Helvetica sans-serif;
}

h1 {
	margin: 60px 0;
	color: #666;
	text-align: center;
	font-weight: 300;
	font-size: 2.0em;
}

b, strong {
	font-weight: 500;
}

.container {
	width: 960px;
}

/* Verified reviews */

a.verified-reviews {
	display: block;
	float: right;
	margin: 20px 0 40px;
}

a.verified-reviews:before,
a.verified-reviews:after {
	display: table;
	clear: both;
	content: '';
}

/* Summary filters */

.summary-filters {
	position: relative;
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.summary-filters:before,
.summary-filters:after {
	display: table;
	clear: both;
	content: '';
}

.summary-filters :after,
.summary-filters:before {
	display: table;
	clear: both;
	content: '';
}

.summary-filters .tile {
	position: relative;
	float: left;
	width: 16.66%;
}

.summary-filters .tile a {
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.summary-filters .tile > a {
	position: relative;
	display: block;
	padding: 30px;
	height: 120px;
	height: 135px;
	border: 1px solid #e5e5e5;
	border-left: none;
	border-radius: 0;
	background: #fff;
	color: #777;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.1em;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.summary-filters .tile:first-child > a {
	border-left: 1px solid #e5e5e5;
	border-top-left-radius: 6px;
}


.summary-filters .tile:last-child > a{
	border-top-right-radius: 6px;
}

.summary-filters .tile a:hover {
	background: #fafafa;
	color: #333;
}

.summary-filters .tile a .value {
	display: block;
	font-weight: 300;
	font-size: .85em;
}

/* Filters on */

.summary-filters .dropdown-menu > li.active > a,
.summary-filters .dropdown-menu > li.active > a .ty-icon,
.summary-filters .dropdown-menu > li.active > a:hover .ty-icon,
.summary-filters .tile.active > a,
.summary-filters .tile.active > a:hover {
	position: relative;
	border-bottom-color: transparent;
	background: transparent;
	color: #689cd4;
	cursor: default;
}

.summary-filters .tile.active:last-child > a:hover {
	cursor: pointer;
}

.summary-filasters .tile.active:after {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	margin-top: -1px;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
}

/* Trip type icons */

.summary-filters .tile a .ty-icon {
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	color: #999;
}

.summary-filters .tile > a[data-toggle="tab"] .ty-icon {
	display: block;
	margin-bottom: 10px;
	font-size: 2.4em;
}

.summary-filters .tile a:hover .ty-icon {
	color: #666;
}

.summary-filters .tile.active > a > .ty-icon {
	color: #689cd4;
}

/* Dropdown menu */

.summary-filters .tile > a[data-toggle="dropdown"] .ty-icon {	
	display: block;
	margin-bottom: 10px;
	font-size: 2.0em;
	height: 35px;
	padding-top: 5px;
}

.dropdown.open:before {
	content: '';
	position: absolute;
	background: #fff;
	height: 2px;
	width: 99.5%;
	bottom:01px;
	left: 0;
	z-index: 100;
}

.dropdown-menu {
	padding: 0;
	border: 1px solid #e5e5e5;
	border-radius: 0 4px 4px 4px;
	box-shadow: 0 3px 8px -4px rgba(0,0,0,.6);
	margin-top: -2px;
	left: -1px;
	min-width: 220px;
	z-index: 99;
}

.dropdown-menu li {
	border-top: 1px dashed #ddd;
}

.dropdown-menu li:first-child {
	border-top: none;
}

.dropdown-menu > li > a {
	color: #666;
	cursor: pointer;
	padding: 10px 10px 10px 35px;
	white-space: normal;
}

.dropdown-menu a .ty-icon {
	float: left;
	margin: 1px 5px 0 -25px;
	font-size: 1.25em;
}

.tile .dropdown-menu a .value {
	float: right;
	font-weight: 300;
	font-size: 1.0em;
}

/* Tab content */

.tab-content {
	padding: 30px;
	border: 1px solid #e5e5e5;
	border-top: none;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

/* Search results */

.search-results h2 {
	margin: 0 0 30px;
	color: #08c;
	text-align: left;
	font-weight: 300;
	font-size: 1.8em;
}

.search-results .hotel {
	margin-bottom: 30px;
	padding-bottom: 30px;
	height: 130px;
	border-bottom: 1px dashed #e5e5e5;
}

.search-results .hotel:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.search-results .hotel h3 {
	margin: 0 0 10px;
	color: #555;
	font-weight: normal;
	font-size: 1.3em;
}

/* Rating */

.search-results .rating {
	display: block;
	margin-bottom: 15px;
	height: 15px;
}

/* Popularity */

.search-results .popularity {
	color: rgb(104, 156, 212);
	float: left;
	font-weight: bold;
	margin: -2px 10px 0 0;
}

/* Stars */

.search-results .hotel .stars{
	float: left;
	margin-top: -2px;
	width: 85px;
	color: #ccc;
	font-size: 1.1em;
}

.search-results .hotel .stars span{
	margin-right: -3px;
}

.search-results .hotel .stars span.active{
	color: #ffb400;
}

/* TrustScore */

.search-results .hotel .trustscore {
	float: left;
	width: 200px;
}

/* Ranking */

.search-results .hotel .ranking {
	position: absolute;
	top: 20px;
	left: 0;
	padding: 0 15px;
	background: #119a11;
	color: #fff;
	font-size: .8em;
}	

.search-results .hotel .rank-wrapper {
	display:table-cell;
	height: 38px; 
	vertical-align:middle;
}

.search-results .hotel .ranking span {
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
	font-size: 1.0em;
	line-height: 1.2em;
}

/* Thumbnail */

.search-results .hotel .thumbnail {
	position: relative;
	float: left;
	margin: 0 20px 0 0;
	width: 100px;
	height: 100px;
	background: #fff;
}

.search-results .hotel .thumbnail img {
	max-width: 100%;
	height: auto;
}

/* Deals */

.search-results .hotel .deals {
	float: right;
	color: #428bca;
	text-align: center;
	font-weight: 300;
	font-size: 1.2em;
}

.search-results .hotel .deals .price {
	display: block;
	margin: 10px 0;
	font-size: 2.2em;
}

/* Snippets & hotel type */

.search-results .hotel .hotel-type .ty-icon {
	float: left;
	margin-right: 8px;
	font-size: 1.2em;
}

.search-results .hotel .hotel-type,
.search-results .hotel .highlights {
	float: left;
	width: 500px;
	color: #666;
	font-weight: 300;
	font-size: 1.1em;
}

.search-results .hotel .highlights {
	font-style: italic;
}

.search-results .hotel .highlights span {
	display: block;
	float: left;
	margin: 5px 5px 0 0;
}

.search-results .hotel .hotel-type span {
	display: block;
	margin-bottom: 5px;
}

/* Recommended hotels */

.search-results.recommended .hotel {
	margin-bottom: 30px;
	padding: 20px;
	height: 140px;
	border-bottom: none;
	background: #fafafa;
}

.search-results.recommended .hotel .thumbnail {
	margin: -20px 20px 0 -20px;
	width: 140px;
	height: 140px;
}

.search-results.recommended .hotel .deals {
	float: right;
	color: #5cb85c;
}

.search-results.recommended .hotel .thumbnail {
	padding: 0;
	border: none;
	border-radius: 0;
}
